.entry-list {
    display: flex !important;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 50vh;
    position: relative;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    -webkit-flex-flow: column;
    justify-content: center !important;
    // border: 2px solid #707070;
    margin: 0.5rem !important;


}



.entry-wrapper {
    display: flex;
    flex-direction: column;
    width: 55rem !important;
    margin: 0.6rem;


    .entry-text {
        margin: 0.4rem;
    }
}

.entry-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.4rem;
}

.card-body {
    padding: 1rem 3rem !important;

    .button-flex {
        display: flex;
        justify-content: flex-end;

        button {
            margin: auto 0.3rem;
        }
    }


}