body {
    // font-family: 'Oswald', sans-serif;
    overflow: hidden;
}

.introduction-main {


    nav {
        display: flex;
        flex-direction: row;
        background-color: #7d7d7dd1;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        svg {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: -1;
        }


        h1 {
            margin: auto;
            flex: 2;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        justify-content: flex-end;
        flex: 3;

        li {
            margin: 0 0.7rem;
        }
    }
}

.introduction-background {
    background-color: #cdcdcd;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.introduction-wrapper {

    color: black;
    margin: 0.5rem;
    padding: 0.5rem;
    opacity: 1 !important;





    .introduction-header {
        margin: auto;
        min-height: 75vh;
        width: 70rem;
        background-color: #b1b1b1b3;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .introduction-maintext {
        padding: 1rem;
        align-items: center;



    }

    .introduction-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.entries-navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
    margin: 1rem auto 0;
}

.modal-dialog {
    max-width: 60rem !important;
}

.not-validated {
    transition: transform 0.3s ease-out
}

.login-spinner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}